<% provide(:title, 'Users') %>
<div class="form content">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= value %>
        </div>
    <% end %>
    <h1 class="text-center">List of Words in <%= @category.title %></h1>
    <div class="container">
        <% if (current_user.account_type == 1) %>
            <%= link_to raw('<button type="button" class="btn btn-info btn-sm pull-right">Create Words</button>'), cataword_new_path(@category) %>
        <% end %>
        <ul class="category">
            <table class="table table-borderless">
                <thead>
                    <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Answer</th>
                    <% if (current_user.account_type == 1) %>
                    <th colspan="2">Action</th>
                    <% end %>
                    </tr>
                </thead>
                <% @words.each do |word| %>
                <tbody>
                    <tr>
                    <td><%= word.word %></td>
                    <td>
                        <% for choice in word.choices %>
                            <% if choice.correct %>
                                <%= choice.choices %>
                            <% end %>
                        <% end %>
                    </td>
                    <% if (current_user.account_type == 1) %>
                    <td><%= link_to "Edit", edit_word_path(word.id) %></td>
                    <td><%= link_to 'Delete', word_path(word), method: :delete, data: { confirm: "You sure?" } %></td>
                    <% end %>
                    </tr>
                </tbody>
                <% end %>
            </table>
        </ul>
    </div>
</div>